[user]
	name = Danny Burke
	email = danny@burkeops.com
[core]
	ignorecase = false
	editor = nvim
    excludesfile = ~/personal/.gitignore
[color]
	ui = true
[pull]
	rebase = true
[alias]
	bd = "! git branch -D $(git branch | fzf)"
	sf = "! git switch $(git branch | fzf)"
	sc = "switch -c"
	sm = "! git switch main || git switch master"
[includeIf "gitdir:~/personal/"]
	path = ~/personal/.gitconfig
